<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earl.chaos.chaos_admin.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.earl.chaos.chaos_admin.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="BIT"/>
            <result property="weixinId" column="weixin_id" jdbcType="VARCHAR"/>
            <result property="groupId" column="group_id" jdbcType="INTEGER"/>
            <result property="priceUnitName" column="price_unit_name" jdbcType="VARCHAR"/>
            <result property="totalPrice" column="total_price" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sex,
        weixin_id,group_id,price_unit_name,
        total_price
    </sql>
    <select id="findByWeixinId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        weixin_id = #{weixinId,jdbcType=VARCHAR}
    </select>
    <select id="findByGroupId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        group_id = #{groupId,jdbcType=NUMERIC}
    </select>
    <update id="updateGroupIdById">
        update user
        set group_id = null
        where id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
